body{
    background-image: url("../img/white_wall_hash.png");
}

form{
    margin-left: 33%;
}

input  {
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

textarea {
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}




