body{
    background: linear-gradient(white,#99ccff);
}

h1{
    text-align: center;
}

form{
    margin-left: 33%;
}

image{
    margin: auto;
}

#border1{
    text-align: center;
    border: 10px solid;
    padding: 15px;
    -webkit-border-image: url(../img/white_wall_hash.png);
    -o-border-image: url(../img/white_wall_hash.png);
    border-image-source: url(../img/white_wall_hash.png) ;
    border-image-slice: 30;
}

#animated-div{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background-color: blue;

    -webkit-box-shadow: 10px 10px 5px  rgba(0,0,0,0.75);
    -moz-box-shadow:10px 10px 5px rgba(0,0,0,0.75);
    box-shadow:10px 10px 5px rgba(0,0,0,0.75);


    -webkit-transition: width 4s, height 4s;
    transition: width 4s, height 4s;
}

#animated-div:hover{
    -webkit-animation-name: color-animation;
    -webkit-animation-duration: 4s;
    animation-name: color-animation;
    animation-duration: 4s;


    width: 200px;
    height: 200px;
}

@keyframes color-animation {
    from {background-color: blue;}
    to {background-color: green;}
}

.newspaper{
    padding-top: 20px;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;

    -webkit-column-rule: 2px outset #000000;
    -moz-column-rule: 2px outset #000000;
    column-rule: 2px outset #000000;
}

@media screen and (max-width: 600px) {
    .newspaper{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

}


